/* CS File */
/*** GLOBAL STYLING ***/
* {
	box-sizing: border-box;
	margin: 0;
	padding:0 ;
}	

body {
	font-family: 'Mukta Malar', sans-serif;
	text-align: center;
	background-color: #EFEFEF;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 45px;
	color: #F1444C;
	padding-top: 15px;
}

h2 {
	font-family: 'La Belle Aurore', cursive;
	color: #707168;
	font-size: 30px;
}

p {
	font-size: 15px;
	font-family: 'Mukta Malar', sans-serif;
	color: #707070;
	text-align: center;
	margin-bottom: 0px;
}

/******* BUTTONS *********/

.buttons {
	background-color: #ffffff;
}
.more {
	padding-top: 50px;
}

.find {
	padding-top: 50px;
	padding-bottom: 30px;
}

.btn-link a {
	color: #CEBE88;
	font-family: 'Mukta Mular', sans-serif;
}

.btn-link a:hover {
	color: #707168;
}

.container { 
	margin-top: 0;
	margin-bottom: 0;
}

.container-fluid { 
	margin-top: 0;
	margin-bottom: 0;
}

/*** HEADER STYLING ***/

.top {
	margin-top: 0;
	background-color: #FFFFFF;
}

.nav ul {
	list-style: none;
	margin: auto;
	padding: 0;
}

.nav li {
	display: inline-block;
}

.nav a {
	text-decoration: none;
	color: #F1444C;
	display: block;
	width: 100px;
	padding-top: 50px;
	padding-bottom: 40px;
	font-size: 15px;
	text-align: center;
}

.nav a:hover {
	color: #CEBE88
}

#search img {
	width: 17px;
	height: 17px;
}

header {
	height: 45px;
	background-color: #84A299;
	color: floralwhite;
	padding-top: 0.5%;
	font-family: 'La Belle Aurore', cursive;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0;
}

#top-nav {
	display: none;
}

@media screen and (min-width: 768px) {
	.pos-f-t {
		display: none;
	}
	#top-nav {
		display: block;
	}
}


/*** FIRST SECTION ***/

 .intro {
 	padding-top: 60px;
 	padding-bottom: 60px;
 }

 .first row {
 	display: flex;
 	flex-wrap: wrap;
 	padding: 0 4px;
 }

 .column {
 	flex: 30%;
 	max-width: 30%;
 	padding: 0 4px;
 }

 .column img {
 	margin-top: 8px;
 	width: 100%;
 }

.mosaic {
	padding-bottom: 40px;
}

.mosaic img {
 	overflow: hidden;
 	height: 50vh;
 	background-position: center;
 	width: 80%;
 	border-radius: 10px;
 }

/*** FRESH FRAGRANCES ***/ 

.fresh {
	background-color: floralwhite;
	padding-top: 30px;
	padding-bottom: 30px;
}

#forhim {
	background-color: #84A299;
}

#forher {
	background-color: #ffffff;
}

.fresh h3 { 
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin-left: 45px;
	color: #707168;
}

.secondheader {
	margin-top: 100px;
	margin-bottom: 30px;
}

.imageblock {
	text-align: center;
}

#stars {
	text-align: left;
	margin-left: 40px;
}

.imageblock img {
	width: 80%;
	border-radius: 7px;
	overflow: hidden;
}

.imageblock p {
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	margin-left: 45px;
}

.pic {
	width: 33.3%;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.rating img {
	width: 15px;
	margin-bottom: 25px;
}

.rating {
	width: 100%;
	margin: 0px;
	text-align: left;
}

/*** MESSAGE ***/ 

.message {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 50px;
	margin: auto;
	width: 40%;
}

/*** FOOTER ***/ 

footer {
	background-color: #CEBE88;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 30px;
}

.footer-nav ul {
	list-style: none;
	margin: auto;
	padding: 0;
	text-decoration: none;
}

.footer-nav li {
	display: block;
	text-align: left;
	text-decoration: none;
}

.footer-nav a {
	text-decoration: none;
	color: floralwhite;
}

.footer-nav h4 {
	font-family: 'Mukta Malar', sans-serif;
	font-weight: 50px;
	color: floralwhite;
	text-align: left;
}

.slogan h4 {
	font-family: 'Playfair Display', serif;
	color: #F1444C;
	font-weight: 50px;
	text-align: left;
}

.slogan p {
	color: #F1444C;
	text-align: left;
}

.socials li {
	width: 35px;
	float: left;
	display: block;
	margin-right: 20px;
}

.socials img{
	width: 100%;
}

@media screen and (max-width: 767px) {
	.footer-nav h4 {
		text-align: center;
	}
	.slogan p {
		color: #F1444C;
		text-align: center;
		margin-bottom: 35px;
	}
	.slogan h4 {
		margin-top: 35px;
		text-align: center;
	}
	.footer-nav li {
		text-align: center;
	}
	.socials {
		margin-left: 95px;
	}
	.message {
		width: 75%;
	}
	.pic img {
		width: 80%;
		height: 14vh;
	}
	.imageblock {
		width:  100%;
	}
	.imageblock p, h3 {
		padding-left: 5px;
	}
	#stars {
		padding-left: 5px;
	}
}



/*** ANIMATION PRACTICE ***/ 
/* @keyframes pulse2 { 
	0% {transforms: scale(1);} This is the breakdown of moments it spends in each size.
	30% {transforms: scale(1.05);}
	80% {transforms: scale(1);}
}

.pulse {
	animation: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
*/

